{% assign yay = 0 %}
{% assign nay = 0 %}
{% assign abstain = 0 %}
{% assign total = 0 %}
{% for site in include.sites %}
{% assign total = total | plus:1 %}
{% if site.vote == "yay" %}
{% assign yay = yay | plus:1  %}
{% elsif site.vote == "nay" %}
{% assign nay = nay | plus:1 %}
{% else %}
{% assign abstain = abstain | plus:1 %}
{% endif %}
{% endfor %}
<!-- TODO: Calculate percentages (Rounded Down), add precentages to get total percentage, get remainder of 100 - totalPercentage, sort percentages by decimal, distribute remaineder in from highest to lowest decimal value -->
<div class="progress mb-4">
  <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>