{% assign total = 0 %}
{% assign score = 0 %}
{% for site in include.sites %}
{% assign total = total | plus:10 %}
{% assign score = score | plus:site.score %}
{% endfor %}
{% assign percent = score | time:100.0 | divide_by:total | round %}
<!-- TODO: Fade from red to green as percentage goes up -->
{% if percent <= 33 %}
  {% assign color = " bg-danger" %}
{% elsif percent >= 66 %}
  {% assign color = " bg-success" %}
{% else %}
  {% assign color = "" %}
{% endif %}
<div class="justify-content-center w-100">Trustworthiness:</div>
<div class="progress mb-4">
  <div class="progress-bar{{ color }}" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"></div>
  <small class="justify-content-center d-flex position-absolute w-100">{{ percent }}%</small>
</div>