<div class="col-sm-4 mb-2">
  {% if include.score >= 7 %}
  <div class="card card-success">
    <div class="card-body">
      <i class="fa fa-check" aria-hidden="true"></i>
  {% elsif include.score <= 3 %}
  <div class="card card-danger">
    <div class="card-body">
      <i class="fa fa-times" aria-hidden="true"></i>
  {% else %}
  <div class="card">
    <div class="card-body">
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
  {% endif %}
      {{ include.name }}
    </div>
  </div>
</div>